{% extends 'base.html' %}

{% block title %}Harmonogram{% endblock %}

{% block content %}
  {% if request.method == "POST" %}
      <p>Using schedule from the following link:<br/>{{ request.form['link'] }}</p>
    {% if 'error' in context: %}
      <p>Error! {{ context['error'] }}</p>
    {% else %}
      <p>New calendar will be created and following events will be added:</p>
      <ul>
      {% for key, val in context['contents'].items() %}
        <li>{{ key }}: {{ val }}</li>
      {% endfor %}
      </ul>
      <p>Click <a href='{{ url_for('calendar') }}'>here</a> to to add them.</p>
    {% endif %}
  {% else %}
      <p>Get the link to your schedule from <a href='https://sepan-wroclaw.alba.com.pl/harmonogram2023/'>https://sepan-wroclaw.alba.com.pl/harmonogram2023/</a></p>
      <p>Caution! Generated pages expire; do not save links, generate pages when needed.</p>
      <p>Paste the link to your schedule:</p>
      <form method='post'>
      Link: <input name='link' size='128'/><br/>
      <button type='submit'>Send</button>
      </form>
  {% endif %}
{% endblock %}